*.log
*.pyc
*.py[co]
*.sw[po]
*.bak
*.orig
*~
__pycache__

trimco/secrets.json
trimco/db.sqlite3
trimco/data/media/*
settings_local.py
local_*
tmp*
.idea
.DS_store
.python-version
env/
annotation_data.json