<div id="workbench" class="wb_reduced">
<div id='workbench_title'>workbench</div>
<div id="wb_col_1">
	<div id='examined_token'>
		 <button id="merge_left" class="fa fa-caret-left"></button>
		 <span id='examined_transcript'></span>
		 <button id="merge_right" class="fa fa-caret-right"></button>
	</div>
	<div id='normalization_controls'>
		<input id="normalization_input" title="">
		<button id="add_normalization" class='fa fa-clipboard'></button>
	</div>
	<div id='normalization_suggestions'>
		<ol id="normalization_suggestions_lst"/>
	</div>
	<div id='annotation_controls'>
		{% if auto_annotation_option %}
			<input id="auto_annotation" type="checkbox" name="auto_annotation" value="on" />Auto annotation
		{% endif %}
	</div>
</div>
<div id="wb_col_2">
	<div id="annotation">
		<button id="add_annotation" class="fa fa-tag"></button>
		<span>Select annotation</span>
	</div>
	<div id='annotation_info'>
		<ol id="annotation_suggestions_lst"/>
	</div>
	<div id='manual_annotation'>
		<span>Manual annotation</span>
		{{annot_menu_select|safe}}
	</div>
</div>
<div id="wb_col_3">
{{annot_menu_checkboxes|safe}}
</div>
</div>
